.CardHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: white;
	padding: 8px;
	border-radius: 4px 4px 0 0;
	position: relative;
}

.CardHeader__symbol {
	font-weight: bold;
	font-size: 1.2em;
}

.CardHeader__trend {
	width: 45px;
	height: 40px;
	position: absolute;
	top: 8px;
	right: 8px;
	transform: translate(60%, -60%);
}